/* Write your CSS code here */
.currency-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px;
}
.currency-info {
  display: flex;
  align-items: center;
}
.currency-logo {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
.currency-name {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}
.currency-type-values {
  display: flex;
  align-items: center;
}
.currency-value {
  text-align: right;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  width: 72px;
  margin-left: 48px;
}
